@import "variables";
@import "responsive";

.badge {
  height: 30%;
  position: absolute;
}
img {
  height: 200px;
}
button {
  @extend .button-style;
}
@include responsive(movil) {
  padding: 1rem;
}
@include responsive(desktop) {
  padding: 4rem;
}

footer {
  display: flex;
  height: 20%;
  width: 100%;
}
