@media (max-width: 600px) {
  #avis {
    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == movil {
    @media (min-width: 412px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
//depuis l'exemple format movil et desktop//
