$main-color: #fff;
$menu-color: #f2f2f2;
$contrast-color: #0078d7;
$text-color: #111;
$default-font: Roboto;

.button-style {
  background-color: $contrast-color;
  color: $main-color;
  border-radius: 8px;
}
